/* time_component.css */

.grid-container {
  display: flex;
}

.block10 {
  flex: 0 1 calc(10% - 5px); /* Set each grid item to occupy 10% of the container width minus gap */
  text-align: center;
  color: white
}

.row {
  margin-bottom: 10px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

/* Add more styles as needed */

.present {
  background-color: blue; /* Blue color for present state */
}

.future {
  background-color: green; /* Green color for future state */
}

.past {
  background-color: red; /* Red color for past state */
}

.hour {
  border-left: 1px solid rgb(255, 255, 255); /* Adjust the width and color of the left border as needed */

}