/* Todo.css */
.todo {
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .new-task-container {
    margin-bottom: 20px;
  }
  
  .new-task-container input {
    padding: 8px;
    width: 70%;
    border: 1px solid #4cd1a5;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .new-task-container button {
    padding: 8px 16px;
    background-color: #49cc6a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  