1. Plan to do less than you think you might be able to accomplish. That way, you’ll have a “cushion” in case you’re waylaid by heavy traffic, a sick child, or some other unforeseeable problem.
2. Remember to leave enough time for meals, as well as travel to and from appointments and errands.
3. Be sure that each day includes a mix of “high-brain” and “low-brain” tasks; if your day is taken up solely by things that are hard to do or that require lots of decision-making, you’ll be exhausted.
4. Each day should include time outdoors; “green time” has been shown to improve focus and mood.